
{% extends "ApplicationSonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% block head %}
        {{ parent() }}
    {% endblock %}
       {% block sonata_user_login %}
           <body style="background:#F7F7F7;">

           <div class="">
               <a class="hiddenanchor" id="toregister"></a>
               <a class="hiddenanchor" id="tologin"></a>

               <div id="wrapper">
                   <div id="login" class="animate form">
                       <section class="login_content">
                           <div class="panel-body">
                               {% block sonata_user_login_error %}
                                   {% if error %}
                                       <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                                   {% endif %}
                               {% endblock %}
           {% block sonata_user_login_form %}
                           <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-horizontal">
                               <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                               <img src="{{ asset('bundles/sonatauser/logo.png') }}" alt="login" class="manas">
                               <div class="form-group">
                                   <label for="username" class="col-sm-4 control-label">{##}{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}</label>
                                   <div class="col-sm-8"><input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="username"/></div>
                               </div>

                               <div class="form-group control-group">
                                   <label for="password" class="col-sm-4 control-label">{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}</label>
                                   <div class="col-sm-8"><input type="password" class="form-control" id="password" name="_password" required="required" placeholder="password"/></div>
                               </div>
                               <div class="form-group">
                                   <div class="col-sm-offset-4 col-sm-8">
                                       <div class="checkbox control-group">
                                           <label for="remember_me">
                                               <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                               {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                           </label>
                                       </div>
                                   </div>
                               </div>

                               <div class="form-group control-group">
                                   <div class="controls col-sm-offset-4 col-sm-8">
                                       <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a>
                                   </div>
                               </div>
                               <div class="form-group">
                                   <div class="col-sm-offset-4 col-sm-8">
                                       <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                   </div>
                               </div>

                               <div class="clearfix"></div>
                               <div class="separator">

                                   <p class="change_link">нет аккаунта ?
                                       <a href="{{ path('fos_user_registration_register') }}" class="to_register"><mark>создать аккаунт</mark></a>
                                       <a href="{{ path('main_homepage') }}"><i class="fa fa-home"></i></a>
                                   </p>
                                   <div class="clearfix"></div>
                                   <br />
                                   <div>

                                   </div>
                               </div>
                           </form>
               {% endblock %}
                           </div>
                           <!-- form -->
                       </section>
                       <p style="text-align: center;" class=" "><strong>✉: bilgi.fen@manas.edu.kg</strong> КТУ Манас, Факультет  прикладной математики и информатики, Бишкек, Kyrgyzstan, &nbsp;&nbsp; ☎<strong>: </strong>+996 (312) 54 19 41-47 &nbsp; <br></p>
                       <!-- content -->
                   </div>
               </div>
           </div>

           </body>
       {% endblock %}
    {% block footer  %}
        {{ parent() }}
    {% endblock %}
{% endblock fos_user_content %}
